@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Index";
}

<h2>
    <a href="@Context.Request.Path"><input type="button" class="btn btn-primary" value="中文" /></a>
    <a href="?culture=en-US"><input type="button" class="btn btn-primary" value="英文" /></a>
</h2>

<h2>
    @SharedLocalizer["Language"] @SharedLocalizer["Translation"]
</h2>

<ul>
    <li>@SharedLocalizer["One"]</li>
    <li>@SharedLocalizer["Two"]</li>
    <li>@SharedLocalizer["Three"]</li>
    <li>@SharedLocalizer["Four"]</li>
    <li>@SharedLocalizer["Five"]</li>
    <li>@SharedLocalizer["Six"]</li>
    <li>@SharedLocalizer["Seven"]</li>
    <li>@SharedLocalizer["Eight"]</li>
    <li>@SharedLocalizer["Nine"]</li>
    <li>@SharedLocalizer["Ten"]</li>
</ul>